*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
 :root{
    --brand-color-light :#60A5FA;
    --brand-color-dark: #1d4ed8;
    --bg-color: #0f172a;
    --stroke-color: #1e293b;
    --text-color-primary: #f1f5f9;
    --text-color-secundary: #cbd5e1;



    --font-family:"Archivo", sans-serif;
   



 }
 

 body{

    color: var(--text-color-primary);
    background-color: var(--bg-color);

 }